# Your MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority

# Your OpenAI API Key for Chat Generation (Embeddings run locally)
OPENAI_API_KEY=your_llm_generation_key_here

# JWT HS256 Secret Key for Mobile User Sessions
JWT_SECRET=your_32_byte_hex_secret_here
